{% extends "base.html" %}
{% block body %}
<div class="container">
    <h2>
        Welcome to the Easy Monitor Application!
    </h2>
    <p>
        View the status of the configured websites <a href="{{ url_for('status_route') }}">here</a>
    </p>
</div>
{% endblock %}