{% extends "base.html" %}
{% block body %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">URL</th>
                <th scope="col">Test Name</th>
                <th scope="col">Method</th>
                <th scope="col">Is OK</th>
                <th scope="col">Status Code</th>
                <th scope="col">Time of Test</th>
            </tr>
        </thead>
        <tbody>
            {% for result in statuses %}
            <tr>
                <td><a href="{{ result['request'].url }}">{{ result['request'].url }}</a></td>
                <td>{{ result['test_name'] }}</td>
                <td>{{ result['request'].method }}</td>
                {% if result['response'] %}
                <td>{{ result['response'].ok }}</td>
                <td>{{ result['response'].status_code }}</td>
                {% else %}
                <td>No Response</td>
                <td>N/A</td>
                {% endif %}
                <td>{{ result['time_of_test'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}